{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<h2 class="page-title">Se connecter</h2>
<div class="form-box">
    <form method="post">
        <div>
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <label for="inputEmail" class="sr-only">Courriel</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <fieldset class="form-checkbox">
                <input type="checkbox" name="_remember_me" id="rememberMe"> 
                <label for="rememberMe" id="rememberLabel">Se souvenir de moi</label>
            </fieldset>
            <button class="btn btn-lg btn-primary" type="submit">
                Connexion
            </button>
            <p class="list-ou">ou</p>
            <a class="list-link-spec" href="{{ path('userRegister') }}">S'inscrire</a>
            <a class="mdp" href="{{ path('userForgottenPassword') }}">Mot de passe oublié?</a>
        </div>
    </form>
</div>
{% endblock %}
