{% extends 'base.html.twig' %}

{% block title %}Sites{% endblock %}

{% block body %}
    <h2 class="page-title">Visualiser tout les sites existants</h2>
    <h3 class="page-subtitle">ou</h3>
    <a class="list-link" href="{{ path('createSite') }}">Enregistrez un site</a>
  <div class="list-box">

{% if sites is not empty %}
<table>
  <thead>
    <tr>
      <th>Nom du site</th>
      <th>Lieu du site</th>
    </tr>
  </thead>
  <tbody>
  {% for site in sites %}
  <tr>
    <td>{{ site.nomSite }}</td>
    <td>{{ site.lieuxlieu.nomLieu }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<a class="list-button" href="{{ path('site_update', sites.idSite) }}" title="Modifier">&#10810;</a>
<a class="list-button" href="{{ path('site_delete', sites.idSite) }}" title="Supprimer">&#10811;</a>
{% else %}
  <p>Aucun site trouvé</p>
{% endif %}

  </div>
{% endblock %}