{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}
    <h2 class="page-title">Retrouvez toutes nos villes</h2>
      <h3 class="page-subtitle">ou</h3>
      <a class="list-link" href="{{ path('create_town') }}">Enregistrez une ville</a>
  <div class="list-box">


{% if villes is not empty %}
<table>
  <thead>
    <tr>
      <th class="list-thead-th">Nom de la ville</th>
      <th class="list-thead-th">Code postal de la ville</th>
      <th class="list-thead-th">Modifier</th>
      <th class="list-thead-th">Supprimer</th>
    </tr>
  </thead>
  <tbody>
  {% for ville in villes %}
  <tr class="list-tr">
    <td>{{ ville.nomVille }}</td>
    <td>{{ ville.codePostal}}    </td>
    <td><a class="list-button" href="{{ path('town_update', {id:ville.idville}) }}" title="Modifier">&#10810;</a></td>
    <td><a class="list-button" href="{{ path('ville_delete', {id:ville.idville}) }}" title="Supprimer">&#10811;</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>


{% else %}
  <p>Aucune ville trouvée</p>
{% endif %}

  </div>
{% endblock %}