{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}
    <h2 class="page-title">Retrouvez toutes nos villes</h2>
      <h3 class="page-subtitle">ou</h3>
      <a class="list-link" href="{{ path('create_town') }}">Enregistrez une ville</a>
  <div class="form-box">


{% if villes is not empty %}
<table>
  <thead>
    <tr>
      <th>Nom de la ville</th>
      <th>Code postal de la ville</th>
    </tr>
  </thead>
  <tbody>
  {% for ville in villes %}
  <tr>
    <td>{{ ville.nomVille }}</td>
    <td>{{ ville.codePostal}}    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<a class="list-button" href="{{ path('town_update') }}" title="Modifier">&#10810;</a>
<a class="list-button" href="{{ path('ville_delete') }}" title="Supprimer">&#10811;</a>
{% else %}
  <p>Aucune ville trouvée</p>
{% endif %}

  </div>
{% endblock %}