{% extends 'base.html.twig' %}
{% block title %}Sorties{% endblock %}
{% block body %}

{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}

<div class="form-box">
    <h1 class="site-title">Bienvenue sur sortirensemble.com</h1>
    <h2 class="page-title">Veillez vous connecter ou vous inscrire pour visualiser toutes nos sorties.</h2>
    
    <a class="list-link" href="{{ path('userLogin') }}">Se connecter</a>
    <p>ou</p>
    <a class="list-link" href="{{ path('userRegister') }}">S'inscrire</a>
    {% endif %}
</div>
{% else %}

<h2 class="page-title">Recherchez parmis toutes nos sorties</h2>
<h3 class="page-subtitle">ou</h3>
<a class="list-link" href="{{ path('sortie_create') }}">Créez une sortie</a>
<div class="form-box">

    {% if sorties is not empty %}
    <table>
        <thead>
            <tr>
                <th>Nom </th>
                <th>Date de début</th>
                <th>Durée</th>
                <th>Date de cloture</th>
                <th>Nombre d'inscrits maximum</th>
                <th>Description de la sortie</th>
                <th>Photo</th>
                <th>Numéro de l'organisateur</th>
                <th>Numéro du lieu</th>
                <th>Etat</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.datedebut|date('Y-m-d H:i:s') }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.datecloture|date('Y-m-d H:i:s') }}</td>
                <td>{{ sortie.nbinscriptionsmax }}</td>
                <td>{{ sortie.descriptioninfos }}</td>
                <td>
                    {% if sortie.urlPhoto != "" %}
                    <a href="http://{{ sortie.urlPhoto}}">Voir la photo</a>
                    {% else %}
                    Aucune photo trouvée
                    {% endif %}
                </td>
                <td>{{ sortie.organisateur }}</td>
                <td>{{ sortie.lieuxlieu.nomLieu }}</td>
                <td>{{ sortie.etatsetat.libelle }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="list-button" href="{{ path('sortie_cancel') }}" title="Modifier">&#10810;</a>
    <a class="list-button" href="{{ path('sortie_update') }}" title="Supprimer">&#10811;</a>
</div>

{% endblock %}