{% extends 'base.html.twig' %}

{% block title %}Sortie : {{ sortie.nom }}{% endblock %}

{% block body %}
    <h2 class="page-title">Sortie : {{ sortie.nom }}</h2>
    <h3 class="page-subtitle">Sortie number {{ sortie.idsortie }}</h3>
  <div class="form-box">

<table>
  <tbody>
    <tr>
      <th>Nom </th>
    <td>{{ sortie.nom }}</td>
    </tr>
    <tr>
      <th>Date de début</th>
    <td>{{ sortie.datedebut|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
      <th>Durée</th>
    <td>{{ sortie.duree }}</td>
    </tr>
    <tr>
      <th>Date de cloture</th>
    <td>{{ sortie.datecloture|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
      <th>Nombre d'inscrits maximum</th>
    <td>{{ sortie.nbinscriptionsmax }}</td>
    </tr>
    <tr>
      <th>Description de la sortie</th>
    <td>{{ sortie.descriptioninfos }}</td>
    </tr>
    <tr>
      <th>Numéro de l'organisateur</th>
      <td>{{ sortie.organisateur }}</td>
    </tr>
    <tr>
      <th>Numéro du lieu</th>
    <td>{{ sortie.lieuxlieu.nomLieu }}</td>
    </tr>
    <tr>
      <th>Etat</th>
    <td>{{ sortie.etatsetat.libelle }}</td>
    </tr>
  </tbody>
</table>


  </div>
{% endblock %}