{% extends 'base.html.twig' %}

{% block title %}Lieux{% endblock %}

{% block body %}
  <h2 class="page-title">Visualiser tout les lieux existants</h2>
  <h3 class="page-subtitle">ou</h3>
  <a class="list-link" href="{{ path('createLieu') }}">Enregistrez un lieu</a>
    <div class="list-box">

{% if lieux is not empty %}
<table>
  <thead>
    <tr>
      <th>Nom du Lieu</th>
      <th>Rue</th>
      <th>Latitude du Lieu</th>
      <th>Longitude du Lieu</th>
      <th>Nom de la Ville</th>
    </tr>
  </thead>
  <tbody>
  {% for lieu in lieux %}
  <tr>
    <td>{{ lieu.nomLieu }}</td>
    <td>{{ lieu.rue}}    </td>
    <td>{{ lieu.latitude }}</td>
    <td>{{ lieu.longitude}}</td>
    <td>{{ lieu.villesville.nomVille }}</td>
    <td><a class="list-button" href="{{ path('lieu_delete', {id:lieu.idlieu}) }}" title="Modifier">&#10810;</a></td>
    <td><a class="list-button" href="{{ path('lieux_update', {id:lieu.idlieu}) }}" title="Supprimer">&#10811;</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p>Aucun lieu trouvé</p>
{% endif %}


    </div>
{% endblock %}