<style>
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
</style>

<h1>All Lieux</h1>

{% if lieux is not empty %}
<table>
  <thead>
    <tr>
      <th>Nom du Lieu</th>
      <th>Rue</th>
      <th>Latitude du Lieu</th>
      <th>Longitude du Lieu</th>
      <th>Nom de la Ville</th>
    </tr>
  </thead>
  <tbody>
  {% for lieu in lieux %}
  <tr>
    <td>{{ lieu.nomLieu }}</td>
    <td>{{ lieu.rue}}    </td>
    <td>{{ lieu.latitude }}</td>
    <td>{{ lieu.longitude}}</td>
    <td>{{ lieu.villesville.nomVille }}</td>

  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p>No lieu found.</p>
{% endif %}