<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>User profile : {{ participants.pseudo }}</h1>
<table>
  <tbody>
    <tr>
      <th>Pseudo</th>
    <td>{{ participants.pseudo }}</td>
    </tr>
    <tr>
      <th>Prénom</th>
    <td>{{ participants.prenom }}</td>
    </tr>
    <tr>
      <th>Nom</th>
    <td>{{ participants.nom }}</td>
    </tr>
    <tr>
      <th>Téléphone</th>
    <td>{{ participants.telephone }}</td>
    </tr>
    <tr>
      <th>Mail</th>
    <td>{{ participants.participantUser.email }}</td>
    </tr>
    <tr>
      <th>Site d'affiliation</th>
    <td>{{ participants.siteAffiliation.nomSite }}</td>
    </tr>
  </tbody>
</table>