{% extends 'base.html.twig' %}
{% block title %}Utilisateurs{% endblock %}
{% block body %}

<h2 class="page-title">Gérer les utilisateurs</h2>
<a class="list-link" href="{{ path('userRegister') }}">Inscrire un nouvel utilisateur</a>
<div class="list-box">

    {% if participants is not empty %}
    <table>
        <thead>
            <tr>
                <th class="list-thead-th">Nom </th>
                <th class="list-thead-th">Prénom</th>
                <th class="list-thead-th">Pseudonyme</th>
                <th class="list-thead-th">Téléphone</th>
                <th class="list-thead-th">Affiliation site</th>
                <th class="list-thead-th">Photo</th>
                <th class="list-thead-th">Activer</br>/Désactiver</th>
                <th class="list-thead-th">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
            <tr class="list-tr">
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.telephone }}</td>
                <td>{{ participant.siteAffiliation.nomSite }}</td>
                <td>
                    Temporairement indisponible
                </td>
                <td>
                {% if participant.actif == true %}
                	Actif<a class="list-button" href="{{ path('userStatus', {id:participant.idParticipant}) }}" title="Désactiver">&#9746;</a>
                {% else %}
                	Inactif<a class="list-button" href="{{ path('userStatus', {id:participant.idParticipant}) }}" title="Activer">&#9745;</a>
                {% endif %}
                </td>
                <td><a class="list-button" href="{{ path('userDelete', {id:app.user.id}) }}" title="Supprimer">&#10811;</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    {% else %}
    <p>Aucun utilisateur trouvé</p>
    {% endif %}
</div>
{% endblock %}