{% extends 'base.html.twig' %}
{% block title %}Utilisateurs{% endblock %}
{% block body %}

<h2 class="page-title">Gérer les utilisateurs</h2>
<h3 class="page-subtitle">Inscrire un nouvel utilisateur</h3>
<a class="list-link" href="{{ path('login') }}">Inscrire</a>
<div class="list-box">

    {% if participants is not empty %}
    <table>
        <thead>
            <tr>
                <th class="list-thead-th">Nom </th>
                <th class="list-thead-th">Prénom</th>
                <th class="list-thead-th">Pseudonyme</th>
                <th class="list-thead-th">Téléphone</th>
                <th class="list-thead-th">Affiliation site</th>
                <th class="list-thead-th">Actif?</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
            <tr class="list-tr">
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.telephone }}</td>
                <td>{{ siteAffiliation.nomSite }}</td>
                <td>
                    {% if participant.urlPhoto != "" %}
                    <a href="http://{{ participant.urlPhoto }}">Voir la photo</a>
                    {% else %}
                    Aucune photo trouvée
                    {% endif %}
                </td>
                <td>
                {% if participant.actif = true %}}
                	<a class="list-button" href="{{ path('userStatus') }}" title="Désactiver">&#9746;</a>
                {% else %}
                	<a class="list-button" href="{{ path('userStatus') }}" title="Activer">&#9745;</a>
                {% endif %}
                </td>
                <td><a class="list-button" href="{{ path('userDelete') }}" title="Supprimer">&#10811;</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    {% else %}
    <p>Aucun utilisateur trouvé</p>
    {% endif %}
</div>
{% endblock %}