{% extends 'base.html.twig' %}
{% block title %}Utilisateurs{% endblock %}
{% block body %}

<h2 class="page-title">Gérer les utilisateurs</h2>
<h3 class="page-subtitle">Inscrire un nouvel utilisateur</h3>
<a class="list-link" href="{{ path('sortie_create') }}">Inscrire</a>
<div class="list-box">

    {% if sorties is not empty %}
    <table>
        <thead>
            <tr>
                <th class="list-thead-th">Nom </th>
                <th class="list-thead-th">Prénom</th>
                <th class="list-thead-th">Pseudonyme</th>
                <th class="list-thead-th">Téléphone</th>
                <th class="list-thead-th">Affiliation site</th>
                <th class="list-thead-th">Actif?</th>
            </tr>
        </thead>
        <tbody>
            {% for participants in participantss %}
            <tr class="list-tr">
                <td>{{ participants.nom }}</td>
                <td>{{ participants.prenom|date('Y-m-d H:i:s') }}</td>
                <td>{{ participants.pseudo }}</td>
                <td>{{ participants.telephone|date('Y-m-d H:i:s') }}</td>
                <td>{{ participants.nbinscriptionsmax }}</td>
                <td>{{ participants.descriptioninfos }}</td>
                <td>
                    {% if participants.urlPhoto != "" %}
                    <a href="http://{{ participants.urlPhoto }}">Voir la photo</a>
                    {% else %}
                    Aucune photo trouvée
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="list-button" href="{{ path('usersDisable') }}" title="Activer/désactiver">&#10810;</a>
    <a class="list-button" href="{{ path('sortie_update') }}" title="Supprimer">&#10811;</a>
    {% else %}
    <p>Aucun utilisateur trouvé</p>
    {% endif %}
</div>
{% endblock %}